Repository ipython/ipython, pull requests merged in 2021-07, with the labels that each got.

#13044 Update reference.rst
  docs/source/interactive/reference.rst
Labels: documentation

#13045 Backport PR #13044 on branch 7.x (Update reference.rst )
  docs/source/interactive/reference.rst
Labels: documentation

#13053 Backport PR #12183 on branch 7.x (Fixed objs in the display.py docstrings.)
  IPython/core/display.py
Labels: documentation

#13052 Fix path handling in `pip` line magic
  IPython/core/magics/packaging.py
Labels: bug, magics

#13055 Backport PR #13052 on branch 7.x (Fix path handling in `pip` line magic)
  IPython/core/magics/packaging.py
Labels: bug, magics

#13024 Documentation fixes
  docs/source/interactive/python-ipython-diff.rst
  docs/source/interactive/tutorial.rst
Labels: documentation

#13056 add expiry days option to pastebin magic and change http protocol to https
  IPython/core/magics/code.py
  docs/source/whatsnew/pr/pastebin-expiry-days.rst
Labels: magics

#13062 Backport PR #13024 on branch 7.x (Documentation fixes)
  docs/source/interactive/python-ipython-diff.rst
  docs/source/interactive/tutorial.rst
Labels: documentation

#13063 Backport PR #13056 on branch 7.x (add expiry days option to pastebin magic and change http protocol to https)
  IPython/core/magics/code.py
  docs/source/whatsnew/pr/pastebin-expiry-days.rst
Labels: magics

#13049 Accept empty history ranges
  IPython/core/history.py
  IPython/core/interactiveshell.py
  IPython/core/magics/code.py
  IPython/core/magics/history.py
  IPython/core/magics/osm.py
  IPython/core/tests/test_history.py
  IPython/core/tests/test_magic.py
  docs/source/whatsnew/pr/empty-hist-range.rst
Labels: core, magics
