Repository ipython/ipython, pull requests merged in 2021-06, with the labels that each got.

#12926 Fixed documentation display for line magics' env method
  IPython/core/magics/osm.py
Labels: documentation

#13010 Fix %autocall doesn't handle integer parsing errors)
  IPython/core/magics/auto.py
Labels: magics

#13021 Don't access current_frame f_locals
  IPython/core/debugger.py
  IPython/core/tests/test_debugger.py
Labels: debugger

#13026 Backport PR #13021 on branch 7.x (Don't access current_frame f_locals)
  IPython/core/debugger.py
  IPython/core/tests/test_debugger.py
Labels: debugger
